<div class="row mb-4 pb-3 border-bottom">

     <div class="col-9">
       
     <h4 style="color:rgb(120,120,120);"> 
      {{st['title']}}</h4>
      <div ><b>Location:</b>{{st['location']}}</div>
      {% if st['salery'] %}
      <div ><b>Salery:</b>{{st['salery']}}</div>
     
      {% endif %}
     </div>
   
   <div class="col-3">
      <a href="mailto:uka3304@example.com?subject=application for {{st['title']}}" type="button" class="btn btn-outline-primary">Apply Now</a>
    </div>
  
  
   </div>